




/* MODAL ANIMATION each item is a seperate <a> */

$number-of-classes: 5; // Set the number of classes you want to generate

@for $i from 1 through $number-of-classes {

  $base-delay: 0.8s; // Set the base delay value
  $transform-delay: $base-delay - $i * 0.1s;



  .item#{$i} {
    // Your CSS rules for each generated class here
    opacity: 100;
    transform: translateY(0px);
    transition: transform 0.4s #{$transform-delay}, opacity 0.5s 0.6s;
    transition-timing-function: ease-out;
  }
}


.item1.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s  ,opacity 0.6s;
  transition-timing-function: ease-in;
}




.item2.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.1s,opacity 0.6s;
  transition-timing-function: ease-in;
}



.item3.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.2s,opacity 0.6s;
  transition-timing-function: ease-in;
}


.item4.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.3s,opacity 0.6s;
  transition-timing-function: ease-in;
}


.item5.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.4s,opacity 0.6s;
  transition-timing-function: ease-in;
}

/* 
FANCY BUTTON */

.fancy-button {
  position: relative;
  display: block;
  cursor: pointer;
  perspective: 1800px;
  .fancy-flipper {
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       transform-style: preserve-3d;
       transform: rotateX(-90deg);
       transition: transform 0.3s ease;
  }
  .fancy-front,
  .fancy-back {
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       backface-visibility: hidden;
       svg {
            display: block;
       }
  }
  &:hover {
       .fancy-flipper {
            transform: rotateX(0deg);
       }
  }
  &:active {
       .fancy-flipper {
            transform: rotateX(0deg) scale(0.95);
            transition: transform 0.05s ease;
       }
  }
  .button-text {
       letter-spacing: 0.01em;
       font-family: Futura, "Helvetica Neue", Helvetica, sans-serif;
  }
}

.parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}

.glow{
  box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
  0px 2px 4px rgba(0,255,255,0.5), 
  0px 4px 8px rgba(0,255,255,0.5), 
  0px 8px 16px rgba(0,255,255,0.5);
}

.textGlow:hover{
  text-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
  0px 2px 4px rgba(0,255,255,0.5), 
  0px 4px 8px rgba(0,255,255,0.5), 
  0px 8px 16px rgba(0,255,255,0.5);
  transition: text-shadow 0.5s ease-in-out;
}

.textGlow{
  text-shadow: none;
  transition: text-shadow 0.5s ease-in-out;
}

.hoverGlow:hover{
  
    box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
    0px 2px 4px rgba(0,255,255,0.5), 
    0px 4px 8px rgba(0,255,255,0.5), 
    0px 8px 16px rgba(0,255,255,0.5);
  
}


