@tailwind base;
@tailwind components;
@tailwind utilities;




/* 
#canvas1{
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  position: absolute;
} */


.scrollLock{
  overflow-y: hidden;
  touch-action: none;
}


.glass{
  /* From https://css.glass */
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(1, 29, 19, 0.3);
}


.noshow{
opacity:0;
filter:blur(5px);
transform:translateY(-100%);
transition: all 2s;
}

.show{
  opacity:1;
  filter:blur(0);
  transform:translateY(0);
  transition: all 2s;
}




span.menu {
  position: absolute;
  left: 150%;
  top: 7px;
  font-size: 22px;
  font-family: 'Comfortaa', cursive, sans-serif;
  letter-spacing: 1px;
  color: #fafafa;
}


.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 3;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.lineOpen1  {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}
.lineOpen2  {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 3;
}
.lineOpen3  {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}


.modalAnimation {
  will-change: transform;
  transform: translate3d(0px, -100%, 0px);
  transition: transform 1s 0.3s;
  transition-timing-function: ease-in;
}

.modalAnimationClose {
  transition: transform 1s;
  transform: translate3d(0px, -0%, 0px);
  transition-timing-function: ease-out;

}




/* MODAL ANIMATION each item is a seperate <a> */
.item1{
  opacity: 100;
  transform: translateY(0px);
  transition: transform 0.4s 0.7s,opacity 0.5s 0.6s;
  transition-timing-function: ease-out;
}

.item1.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s  ,opacity 0.6s;
  transition-timing-function: ease-in;
}


.item2{
  opacity: 100;
  transform: translateY(0px);
  transition: transform 0.4s 0.6s,opacity 0.5s 0.6s;
  transition-timing-function: ease-out;
}

.item2.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.1s,opacity 0.6s;
  transition-timing-function: ease-in;
}


.item3{
  opacity: 100;
  transform: translateY(0px);
  transition: transform 0.4s 0.5s,opacity 0.5s 0.6s;
  transition-timing-function: ease-out;
}

.item3.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.2s,opacity 0.6s;
  transition-timing-function: ease-in;
}


.item4{
  opacity: 100;
  transform: translateY(0px);
  transition: transform 0.4s 0.4s,opacity 0.5s 0.6s;
  transition-timing-function: ease-out;
}

.item4.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.3s,opacity 0.6s;
  transition-timing-function: ease-in;
}


.item5{
  opacity: 100;
  transform: translateY(0px);
  transition: transform 0.4s 0.3s,opacity 0.5s 0.6s;
  transition-timing-function: ease-out;
}

.item5.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.4s,opacity 0.6s;
  transition-timing-function: ease-in;
}