@import "tailwindcss";

/* Define your custom theme here */
@theme {
  /* Breakpoints */
  --breakpoint-xs: 350px;
  --breakpoint-xxs: 280px;

  /* Custom background utilities */
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

:root {
  --cyan400:#00e5ff;



}
/* 
#canvas1{
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  position: absolute;
} */

html { scroll-behavior: smooth; } 

.scrollLock{
  overflow-y: hidden;
  touch-action: none;
}

* {
  box-sizing: border-box;

}

::-webkit-scrollbar{
  width:10px;
}


::-webkit-scrollbar-track{
  background-color:rgb(0, 71, 94);
}

::-webkit-scrollbar-thumb{
  background-color: var(--cyan400);
  border-radius:100vw;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #0093a3;
  border-radius:100vw;
}


body{
  overflow-y: hidden;
  touch-action: none;

}

.glass{
  /* From https://css.glass */
backdrop-filter: blur(20px);
border: 1px solid rgba(1, 29, 19, 0.3);
}


.noshow{
opacity:0;
filter:blur(5px);
transform:translateY(-100%);
transition: all 2s;
}

.show{
  opacity:1;
  filter:blur(0);
  transform:translateY(0);
  transition: all 2s;
}




span.menu {
  position: absolute;
  left: 150%;
  top: 7px;
  font-size: 22px;
  font-family: 'Comfortaa', cursive, sans-serif;
  letter-spacing: 1px;
  color: #fafafa;
}


.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 3;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.lineOpen1  {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}
.lineOpen2  {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 3;
}
.lineOpen3  {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}


.modalAnimation {
  will-change: transform;
  transform: translate3d(0px, -100%, 0px);
  transition: transform 1s 0.3s;
  transition-timing-function: ease-in;
}

.modalAnimationClose {
  transition: transform 1s;
  transform: translate3d(0px, -0%, 0px);
  transition-timing-function: ease-out;

}
